@font-face {
       
    font-family: meerkat;  
    src: url(Gabrielle.ttf);
}
@CHARSET "ISO-8859-1";

.contenedor{
	background-color: rgba(0,0,0,0.5); 
}

.button {
	 display: inline-block;
	 background-color: white;
	 border: 1px solid white;
	 margin: 25px 25px 25px 25px;
	 overflow: hidden;
	 padding: 20px;
	 height: auto;
	 width: 200px;
 }