@font-face {
       
    font-family: meerkat;  
    src: url(Gabrielle.ttf);
}
#logo :ACTIVE{
  width: 950px;
  height: 200px;
}

#playlist, #player {
 width: 400px; /* Ancho de todo el contenedor */
 padding: 20px;
 margin: 0 auto;
 display: block;
 text-align: center;
 }
 #player {
/* Imagen de fondo del primer contenedor */
 background: url(//lh3.googleusercontent.com/-9dx_GmP6Yeg/U06qBO9M4EI/AAAAAAAAFEY/FXrhlltF7xc/s300/bg.png);
 padding: 10px 20px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 }
 audio {
 width:300px; /* Ancho del reproductor */
 margin:0 auto;
 display: inline-block
 }
 #player:after {
/* Imagen animada */
 content: url(//lh3.googleusercontent.com/-KoD5KVOAsGQ/U1B_dWFttoI/AAAAAAAAFFc/uJ3SjLPlDHQ/s75/equalizador.gif);
 padding-left: 10px;
 }
 #playlist {
 margin: 0 auto 20px auto;
 display: block;
 background: #424242; /* Fondo del segundo contenedor */
 border-top: 5px solid #9F111B;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 text-align: left;
 font-size: 12px; /* Estilos de fuente */
 font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
 font-weight: normal;
 }
 #playlist li, #playlist ul li {
 background-image: none;
 list-style-type: none;
 padding: 0;
 margin: 0;
 }
 #playlist li a {
 color: #CCC; /* Color de las canciones */
 background: #222; /* Fondo de las canciones */
 padding: 7px 5px;
 display: block;
 padding-left: 10px;
 text-decoration: none;
 }
 #playlist li a:hover{
 background: #9F111B; /* Color de fondo al pasar el cursor */
 text-decoration: none;
 }
 #playlist .active a {
 color: #B11623; /* Color de la canción activa */
 font-style: italic;
 text-decoration: none;
 }
 #playlist .active a:before {
 content: "\25B6";
 color: #CCC;
 font-style: normal;
 padding-right: 8px;
 }
 #playlist .active a:hover {
 color: #222; /* Color de la canción activa al pasar el cursor */
 }

body h1{
	 font-family: meerkat;
	 color:white;
	 text-align: center;
}
.icon input{
	width: 135px;
	height: 40px;
	padding: 0px 10px;
	margin: 10px 30px;
	color: white;
	text-align:center;
	border:2px solid white;
	font-family: 'meerkat;
	font-weight:800;
	border-radius: 10px;
	background: -moz-linear-gradient(top,  rgba(226,226,226,0.7) 0%, rgba(219,219,219,0.67) 50%, rgba(209,209,209,0.67) 51%, rgba(254,254,254,0.63) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,0.7)), color-stop(50%,rgba(219,219,219,0.67)), color-stop(51%,rgba(209,209,209,0.67)), color-stop(100%,rgba(254,254,254,0.63))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e2e2e2', endColorstr='#a1fefefe',GradientType=0 ); /* IE6-9 */
}


.icon button {
	width: auto;
	margin: 20px 0px 20px 22px;
	height: 50px;
	font-family: meerkat;
	font-size:xx-large;
	font-weight:bold;
	color:white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100&amp;0.7+0,0.63+100;Grey+Gloss+%231 */
background: -moz-linear-gradient(top,  rgba(226,226,226,0.7) 0%, rgba(219,219,219,0.67) 50%, rgba(209,209,209,0.67) 51%, rgba(254,254,254,0.63) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,0.7)), color-stop(50%,rgba(219,219,219,0.67)), color-stop(51%,rgba(209,209,209,0.67)), color-stop(100%,rgba(254,254,254,0.63))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,0.7) 0%,rgba(219,219,219,0.67) 50%,rgba(209,209,209,0.67) 51%,rgba(254,254,254,0.63) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e2e2e2', endColorstr='#a1fefefe',GradientType=0 ); /* IE6-9 */
 color: white;
    border: 1px solid ;
    box-shadow: 0px 1px 0px white;
    border-radius: 20px;


}
.icon button:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100&amp;0.01+0,0.04+100;Grey+Gloss+%231 */
background: -moz-linear-gradient(top,  rgba(226,226,226,0.01) 0%, rgba(219,219,219,0.03) 50%, rgba(209,209,209,0.03) 51%, rgba(254,254,254,0.04) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,0.01)), color-stop(50%,rgba(219,219,219,0.03)), color-stop(51%,rgba(209,209,209,0.03)), color-stop(100%,rgba(254,254,254,0.04))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,0.01) 0%,rgba(219,219,219,0.03) 50%,rgba(209,209,209,0.03) 51%,rgba(254,254,254,0.04) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,0.01) 0%,rgba(219,219,219,0.03) 50%,rgba(209,209,209,0.03) 51%,rgba(254,254,254,0.04) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,0.01) 0%,rgba(219,219,219,0.03) 50%,rgba(209,209,209,0.03) 51%,rgba(254,254,254,0.04) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,0.01) 0%,rgba(219,219,219,0.03) 50%,rgba(209,209,209,0.03) 51%,rgba(254,254,254,0.04) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03e2e2e2', endColorstr='#0afefefe',GradientType=0 ); /* IE6-9 */
	
}
.icon button:active{
/* /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100&amp;1+0,0.77+100;White+Gloss */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,0.89) 50%, rgba(215,222,227,0.89) 51%, rgba(245,247,249,0.77) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,0.89)), color-stop(51%,rgba(215,222,227,0.89)), color-stop(100%,rgba(245,247,249,0.77))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,0.89) 50%,rgba(215,222,227,0.89) 51%,rgba(245,247,249,0.77) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,0.89) 50%,rgba(215,222,227,0.89) 51%,rgba(245,247,249,0.77) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,0.89) 50%,rgba(215,222,227,0.89) 51%,rgba(245,247,249,0.77) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,0.89) 50%,rgba(215,222,227,0.89) 51%,rgba(245,247,249,0.77) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#c4f5f7f9',GradientType=0 ); /* IE6-9 */

}




