@font-face {
    font-family:serif;
     
}


.jdg-container {
  width: auto;
  height: auto;
  background: transparent;
  boder-radius: 2px;
  overflow: hidden;
  box-sizing: content-box;
}
.jdg-container :ACTIVE {
  width: auto;
  height: auto;
  background: trnasparent;
  boder-radius: 2px;
  overflow: hidden;
  box-sizing: content-box;
}


.jdg-item {
  width: 200px;
  height: 190px;
  margin: 2px;
  padding: 0 0 10px;
  position: relative;
  background: rgba(300, 300, 300, 0.5);
}

.jdg-item p {
  margin: 0;
  font-size:x-large;
  margin: 2px 2px;
  color:white;
  text-align: center;
  font-family:meerkat;
}

.jdg-item img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
